@{
    ViewBag.Title = "KD001_ListCustomer";
    Layout = "~/Views/Shared/_Main.cshtml";
}

@{
    ViewBag.Title = "KD001_ListCustomer";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="main-content-inner" style="margin-left:30px;margin-right:30px" id="div_LoTrinh">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2">
                <input type="text" class="form-control" name="title" id="txt_ma" placeholder="Mã khách" />
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="title" id="txt_name" placeholder="Họ tên khách" />
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="title" id="txt_sdt" placeholder="SĐT" />
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="title" id="txt_email" placeholder="Email" />
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="title" id="txt_quan" placeholder="Quận" />
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary" id="btSearh">Tìm kiếm</button>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-6">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="title" id="txt_ngayMua" placeholder="Ngày mua" />
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="title" id="txt_ngayKetThuc" placeholder="Ngày kết thúc" />
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary" id="btIn">In</button>
            </div>
        </div>
    </div>
</div>
<div style="margin-left:20px;margin-right:20px" id="div_Table1">
    <table id="table1"></table>
</div>

<script>
    // Bootstrap Table
    $(function () {
        var itemData = [];
        getDataTable1(itemData);
        eventSearch1();
    });

    $('#btTKLoTrinh').on('click', function (e) {
        eventSearch1();
    });
    var eventSearch1 = function () {
        var data = [];
        var formDatasearch = new FormData();
        formDatasearch.append('type', 'getvKD001');
        var json = { 'ID': 0 };
        formDatasearch.append('data', JSON.stringify(json));

        formDatasearch.append('MaKH', $('#txt_ma').val());
        formDatasearch.append('HoTen', $('#txt_name').val());
        formDatasearch.append('SoDT', $('#txt_sdt').val());
        formDatasearch.append('Quan', $('#txt_quan').val());
        formDatasearch.append('Email', $('#txt_email').val());
    
       
        $.ajax({
            url: "/KinhDoanh/getvKD001",
            type: "POST",
            data: formDatasearch,
            contentType: false,
            processData: false,
            success: function (result) {
                //alert(result);
                var jsonData = result;
                var arr = [];
                if (jsonData && jsonData.length > 0) {
                    for (var i = 0; i < jsonData.length ; i++) {
                        var objectData = jsonData[i];
                        var obj = {};
                        obj.stt = i + 1;
                        obj.id = objectData.ID;
                        obj.ma = objectData.MaKH || "";
                        obj.name = objectData.CustomerName || "";
                        obj.sdt = objectData.PhoneNumber || "";
                        obj.email = objectData.Email || "";
                        obj.quan = objectData.TenQuan || "";
                        obj.loaiKhach = objectData.LoaiDichVu || "";
                        obj.ghiChu = objectData.GhiChu || "";
                        if(objectData.BirthDay){
                            obj.date = convertDate(objectData.BirthDay);
                        } else {
                            obj.date = "";
                        }
                        obj.tongTieu = objectData.ThanhTien || "";
                        arr.push(obj);
                    }
                }
                data = arr;
                var $table1 = $('#table1');
                $table1.bootstrapTable('load', data);
            },
            error: function (err) {
            }
        });
    };

    $('#btIn').on('click', function (e) {
        alert('IN');
    });
    
    var convertDate = function (Date_Start) {
        var x = Date_Start.substr(0, 10);
        var y = x.split("-");
        var y1 = y[0];
        var y2 = y[1];
        var y3 = y[2];
        a = y3 + "/" + y2 + "/" + y1;
        return a;
    };

    // getdata table lộ trình
    var getDataTable1 = function (itemData) {
        $('#table1').bootstrapTable({
            columns: [
                {
                    field: 'stt',
                    title: 'STT',
                    align: 'center',
                    valign: 'middle',

                }, {
                    field: 'ma',
                    title: 'Mã khách',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                    events: operateEvents,
                    formatter: operateFormatter
                }, {
                    field: 'name',
                    title: 'Họ tên khách',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                }, {
                    field: 'loaiKhach',
                    title: 'Loại khách',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                }, {
                    field: 'sdt',
                    title: 'SĐT',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                }, {
                    field: 'email',
                    title: 'Email',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                }, {
                    field: 'quan',
                    title: 'Quận',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                }, {
                    field: 'tongTieu',
                    title: 'Tổng tiêu',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                }, {
                    field: 'ghiChu',
                    title: 'Ghi chú',
                    align: 'center',
                    valign: 'middle',
                }],

            data: itemData
        });
    };
    function operateFormatter(value, row, index) {
        return [
            '<a class="view" href="javascript:void(0)" title="link">',
            value,
            '</a>  '
        ].join('');
    }

    window.operateEvents = {
        'click .view': function (e, value, row, index) {
            window.location = '/KinhDoanh/KD002_HistoryBuy?paramId=' + row.id + '&ThanhTien='+row.ThanhTien;
        }
    };
</script>








