@{
    ViewBag.Title = "C003_Depasment";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<script>
    $(function () {
        function convertDate(Date_Start) {
            var x = Date_Start.substr(0, 10);
            var y = x.split("-");
            var y1 = y[0];
            var y2 = y[1];
            var y3 = y[2];
            a = y3 + "/" + y2 + "/" + y1;
            return a;
        }
        var data = [];
        var formDataDeparment = new FormData();
        formDataDeparment.append('type', 'getData');
        var json = { 'ID': 0 };
        formDataDeparment.append('data', JSON.stringify(json));
        $.ajax({
            url: "/DeptObject/getData",
            type: "POST",
            data: formDataDeparment,
            contentType: false,
            processData: false,
            success: function (result) {
                var jsonData = result;
                var arr = [];
                if (jsonData && jsonData.length > 0) {
                    for (var i = 0; i < jsonData.length ; i++) {
                        var objectData = jsonData[i];
                        var obj = {};
                        obj.id = objectData.ID;
                        obj.department = objectData.Dept_Name;
                        var Date_Start = objectData.Create_Date;
                        var a = "";
                        if (Date_Start) {
                            a = convertDate(Date_Start);
                        }
                        obj.dateCreate = a;
                        obj.user = objectData.Create_User;
                        arr.push(obj);
                    }
                }
                data = arr;

                // format table
                $('#table').bootstrapTable({
                    columns: [{
                        field: 'id',
                        title: 'ID',
                        align: 'center',
                        valign: 'middle',
                        //sortable: true,
                        //editable: true,
                    }, {
                        field: 'department',
                        title: 'Bộ phận',
                        align: 'center',
                        valign: 'middle',
                        //sortable: true,
                        //editable: true,

                    }, {
                        field: 'dateCreate',
                        title: 'Ngày tạo',
                        align: 'center',
                        valign: 'middle',
                        // sortable: true,
                        //editable: true,
                    }, {
                        field: 'user',
                        title: 'User',
                        align: 'center',
                        valign: 'middle',
                        // sortable: true,

                        //footerFormatter: userFormatter
                    }, {
                        field: 'operate',
                        title: 'Thao tác',
                        align: 'center',
                        valign: 'middle',
                        events: operateEvents,
                        formatter: operateFormatter
                    }],
                    data: data
                });
            },
            error: function (err) {

            }
        });

    });
    // function
    function userFormatter(data) {
        return data.length;
    }
    function operateFormatter(value, row, index) {
        return [
            '<a class="edit" href="javascript:void(0)" title="Sửa">',
            '<i class="glyphicon glyphicon-pencil"></i>',
            '</a>  ',
            '<a class="remove" href="javascript:void(0)" title="Xoá">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>',
        ].join('');
    }

    window.operateEvents = {
        'click .edit': function (e, value, row, index) {
            alert('You click like action, row: ' + JSON.stringify(row));
        },
        'click .remove': function (e, value, row, index) {
            var formData = new FormData();
            var id = parseInt(row.id + "");
            //formData.append('data', "{Dept_Name:'abc',Dept_Description:'mieuta','Create_User':'thanhdc7'}");
            var json = { 'ID': id };
            jQuery.ajaxSetup({ async: true });
            formData.append('type', 'delete');
            formData.append('data', JSON.stringify(json));
            $.ajax({
                url: "/DeptObject/delete",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {
                    $('#table').bootstrapTable('remove', {
                        field: 'id',
                        values: [row.id]
                    });
                },
                error: function (err) {
                    $('#table').bootstrapTable('remove', {
                        field: 'id',
                        values: [row.id]
                    });
                }
            });
        }
    };

</script>
<table id="table"
       data-pagination="true"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true" data-show-columns="true"
       data-show-pagination-switch="true"
       data-page-list="[10, 25, 50, 100, ALL]"
       data-show-footer="false"></table>
