<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/Content/bootstrapValidator.min.css" />
    <!-- text fonts -->
    <link rel="stylesheet" href="/assets/css/fonts.googleapis.com.css" />
    <!-- ace styles -->
    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css" />
    <script src="/assets/js/ace-extra.min.js"></script>
    <script src="/assets/js/jquery-2.1.4.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrapValidator.min.js"></script>
    <script src="/Scripts/Validator/bootbox.min.js"></script>
    <script src="/Scripts/Validator/loadingoverlay.min.js"></script>
    <script src="/Scripts/Validator/loadingoverlay_progress.min.js"></script>

</head>
<body class="login-layout">
    <div>
        @RenderBody()
    </div>
</body>
</html>
