@{
    ViewBag.Title = "LT001V2Demo";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<style>
    #success_message {
        display: none;
    }
</style>

<div id="container" style="margin-left: 5px;">
    <form action=" " method="post" id="contact_form">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="sel1" class="col-md-1 control-label">Nguồn</label>
                        <div class="col-md-2 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <select class="form-control" id="cb_SourceType"></select>
                            </div>
                        </div>
                        <label for="sel1" class="col-md-2 control-label">Mã khách hàng</label>
                        <div class="col-md-3 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" name="txtMaKH" id="txtMaKH" disabled="disabled" />
                            </div>
                        </div>
                        <label for="sel1" class="col-md-2 control-label">Mã Reservation</label>
                        <div class="col-md-2 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                                <input type="text" class="form-control" name="txtMaHD" id="txtMaHD" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="sel1" class="col-md-1"></label>
                        <div class="col-md-2">

                        </div>
                        <label for="sel1" class="col-md-2 control-label">Họ và tên</label>
                        <div class="col-md-3 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" name="txtHoTen" id="txtHoTen" placeholder="Họ tên khách hàng" />
                            </div>
                        </div>
                        <label for="sel1" class="col-md-2 control-label">Số ngày còn lại</label>
                        <div class="col-md-2 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                                <input type="text" class="form-control" name="txtSoNgayConLai" id="txtSoNgayConLai" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="sel1" class="col-md-1"></label>
                        <div class="col-md-2">

                        </div>
                        <label for="sel1" class="col-md-2 control-label">Ngày sinh</label>
                        <div class="col-md-3 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input type="text" placeholder="dd/mm/yyyy" data-date-format='dd/mm/yyyy' class="form-control" name="txtNgaySinh" id="txtNgaySinh" />
                            </div>
                        </div>
                        <label for="sel1" class="col-md-2 control-label">Tổng</label>
                        <div class="col-md-2 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                                <input type="text" class="form-control" name="txtTong" id="txtTong" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="sel1" class="col-md-1"></label>
                        <div class="col-md-2">

                        </div>
                        <label for="sel1" class="col-md-2 control-label">Số điện thoại</label>
                        <div class="col-md-3 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                <input type="text" class="form-control" name="txtSoDienThoai" id="txtSoDienThoai" placeholder="(+84)555-1212" />
                            </div>
                        </div>
                        <label for="sel1" class="col-md-2 control-label">Số tiền thu được</label>
                        <div class="col-md-2 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                                <input type="text" class="form-control" name="txtSoTienThuDuoc" id="txtSoTienThuDuoc" value='0' disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="sel1" class="col-md-1"></label>
                        <div class="col-md-2">

                        </div>
                        <label for="sel1" class="col-md-2 control-label">Email</label>
                        <div class="col-md-3 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="text" class="form-control" name="txtEmailCustomer" id="txtEmailCustomer" placeholder="E-Mail Address" />
                            </div>
                        </div>
                        <label for="sel1" class="col-md-2 control-label">Chiết khấu</label>
                        <div class="col-md-2 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                                <input type="text" class="form-control" name="txtChietKhau" id="txtChietKhau" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="sel1" class="col-md-1"></label>
                        <div class="col-md-2">

                        </div>
                        <label for="sel1" class="col-md-2 control-label">Địa chỉ</label>
                        <div class="col-md-3 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input type="text" class="form-control" name="txtDiaChiCustomer" id="txtDiaChiCustomer" placeholder="Address" />
                            </div>
                        </div>
                        <label for="sel1" class="col-md-2 control-label">Còn Nợ</label>
                        <div class="col-md-2 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                                <input type="text" class="form-control" name="txtNo" id="txtNo" value='0' disabled />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-md-offset-3">
                            <div id="messages"></div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="sel1" class="col-md-1"></label>
                        <div class="col-md-2">

                        </div>
                        <label for="sel1" class="col-md-2 control-label">Quận</label>
                        <div class="col-md-3 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <select class="form-control" name="cb_quan" id="cb_quan"></select>
                            </div>
                        </div>
                        <label for="sel1" class="col-md-2"></label>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>
    </form>

</div>
<script id="tabTemp" type="text/x-jquery-tmpl">
    <div class='tab-pane' id='tab${device}'>
        <div>
            <a href="#" class="btn btn-danger btn-remove btnRmv">Huỷ đơn</a>
        </div>
    </div>
</script>
<script id="navTemp" type="text/x-jquery-tmpl">
    <li class="li-tab-toggle">
        <a href="#tab${device}" class="tab-toggle" data-toggle="tab">
            Đơn <span class="dev-nr"></span>
        </a>
    </li>
</script>
<script id="dropTemp" type="text/x-jquery-tmpl">
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            More Devices <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" id="drop"></ul>
    </li>
</script>

<a href="#" class="btn btn-primary" id="btnAddBill" style="margin-bottom: 5px;">Thêm đơn</a>
<ul class="nav nav-tabs" id="tabs">
    <li class="li-tab-toggle active"><a class="tab-toggle" href="#tab1" data-toggle="tab">Đơn 001</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="tab1"></div>
</div>
<div style="height:5px"></div>


<form action=" " method="post" id="contact-form1">
    <div id="contactHD">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-horizontal" style="margin-left:20px">
                    <div class="checkbox" style="margin-bottom:10px">
                        <label style="font-weight:bold">
                            <input type="checkbox" id="chkCheckBox" /> Is Master
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="sel1" class="col-md-3 control-label">Loại hình đơn</label>
                        <div class="col-md-3 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <select class="form-control" id="cb_OrderType">
                                    <option value="-1"></option>
                                    <option value="1">Gói</option>
                                    <option value="2">Đơn lẻ</option>
                                </select>
                            </div>
                        </div>
                        <label for="sel1" class="col-md-3 control-label" id="lblMaKH">Mã khách hàng</label>
                        <div class="col-md-3 inputGroupContainer" id="divMaKH">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" name="txtMaKH1" id="txtMaKH1" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="sel1" class="col-md-3 control-label" id="lbLoaiGoi">Gói</label>
                            <div class="col-md-3 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select class="form-control" id="cb_OrderType2">
                                        <option value="-1"></option>
                                        <option value="8">A1 </option>
                                        <option value="12">A2 </option>
                                        <option value="12">A3 </option>
                                        <option value="12">B1</option>
                                        <option value="8">B2</option>
                                        <option value="12">B3</option>
                                        <option value="8">C1</option>
                                        <option value="12">C2</option>
                                        <option value="8">C3</option>
                                        <option value="12">C4</option>
                                        <option value="10">D</option>
                                    </select>
                                </div>
                            </div>
                            <label for="sel1" class="col-md-3 control-label" id="lblHoTen">Họ và tên</label>
                            <div class="col-md-3 inputGroupContainer" id="divHoTen">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input type="text" class="form-control" name="txtHoTen1" id="txtHoTen1" placeholder="Họ tên khách hàng" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="sel1" class="col-md-3 control-label" id="lblPhiShip">Hình thức Ship</label>
                            <div class="col-md-3 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select class="form-control" id="cb_hinhthucShip">
                                        <option value="-1"></option>
                                        <option value="Ship đi">Ship đi</option>
                                        <option value="Đến lấy">Đến lấy</option>
                                    </select>
                                </div>
                            </div>
                            <label for="sel1" class="col-md-3 control-label" id="lblNgaySinh">Ngày sinh</label>
                            <div class="col-md-3 inputGroupContainer" id="divNgaySinh">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    <input type="text" placeholder="dd/mm/yyyy" data-date-format='dd/mm/yyyy'
                                           class="form-control" name="txtNgaySinh1" id="txtNgaySinh1" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="sel1" class="col-md-3 control-label">Thanh toán</label>
                            <div class="col-md-3 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select class="form-control" id="cb_PayType">
                                        <option value="-1"></option>
                                        <option value="Tiền mặt">Tiền mặt</option>
                                        <option value="Chuyển khoản">Chuyển khoản</option>
                                    </select>
                                </div>
                            </div>
                            <label for="sel1" class="col-md-3 control-label" id="lblSoDT">Số điện thoại</label>
                            <div class="col-md-3 inputGroupContainer" id="divSoDT">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                    <input type="text" class="form-control" name="txtSoDienThoai1" id="txtSoDienThoai1" placeholder="(845)555-1212" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="sel1" class="col-md-3 control-label">Phí Ship</label>
                            <div class="col-md-3 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
                                    <input type="text" class="form-control" name="title" id="txt_PhiShip" />
                                </div>
                            </div>
                            <label for="sel1" class="col-md-3 control-label" id="lblEmail">Email</label>
                            <div class="col-md-3 inputGroupContainer" id="divEmail">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input type="text" class="form-control" name="txtEmailCustomer1" id="txtEmailCustomer1" placeholder="E-Mail Address" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="sel1" class="col-md-3"></label>
                            <div class="col-md-3">

                            </div>
                            <label for="sel1" class="col-md-3 control-label" id="lblDiaChi ">Địa chỉ</label>
                            <div class="col-md-3 inputGroupContainer" id="divDiaChi">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input type="text" class="form-control" name="txtDiaChiCustomer1" id="txtDiaChiCustomer1" placeholder="Address" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="sel1" class="col-md-3"></label>
                            <div class="col-md-3">

                            </div>
                            <label for="sel1" class="col-md-3 control-label">Quận</label>
                            <div class="col-md-3 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select class="form-control" id="cb_quan1" name="cb_quan1"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="margin-left : 30px; margin-right : 30px">

        </div>

        <div style="text-align:center;display: table;margin: 0 auto;">
            <button type="button" class="btn btn-primary" id="btnAdd">Thêm</button>
        </div>
    </div>
</form>    


    <div style="height:40px"></div>
    <div style="margin-left : 30px; margin-right : 30px">
        <table id="table"
               data-search="true"
               data-show-refresh="true"></table>
    </div>
    <div style="text-align:center;display: table;margin-top: 10px;margin-left: 50%;">
        <button type="button" class="btn btn-primary" id="btnSave">Lưu đơn hàng</button>
    </div>
    <div class="modal fade" id="modalTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 1200px;">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Thông tin gói đơn hàng</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="sel1" class="col-md-2">Import Template</label>
                                    <div class="col-md-4">
                                        <input type="file" class="form-control" name="title" id="txtFile" />
                                    </div>
                                    <label for="sel1" class="col-md-2" id="lblSoTien"></label>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-primary" id="btnUpload">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="sel1" class="col-md-2">Promition Code</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" name="title" id="txtPromotionCode" />
                                    </div>
                                    <div class="col-md-8">
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="sel1" class="col-md-2">Tổng tiền gói : </label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" name="title" id="txtTotalTienGoi" disabled="disabled" />
                                    </div>
                                    <label for="sel1" class="col-md-1" style="text-align: center; font-weight: bold;"> - </label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" name="title" id="txtTienKM" disabled="disabled" />
                                    </div>
                                    <label for="sel1" class="col-md-1" style="text-align: center; font-weight: bold;"> = </label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" name="title" id="txtTotalTienGoiSauKM" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="tablePopup"
                           data-id-field="undefined"
                           data-unique-id="undefined"
                           data-show-refresh="true"></table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnPopup">Đóng</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="modalTableSingle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 1200px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Thông tin gói đơn hàng lẻ</h4>
                </div>
                <div class="modal-body">
                    <div id="dvHidden">
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="sel1" class="col-md-3" id="lblNgayGiaoHangLe">Ngày giao hàng</label>
                            <div class="col-md-3">
                                <input type="text" placeholder="dd/mm/yyyy" data-date-format='dd/mm/yyyy' class="form-control" name="txtNgayGiaoHangLe" id="txtNgayGiaoHangLe" />
                            </div>
                            <label for="sel1" class="col-md-3" id="lblThuGiaoHangLe"> Thứ </label>
                            <div class="col-md-3" id="divThuGiaoHangLe">
                                <input type="text" class="form-control" name="title" id="txtThuGiaoHangLe" disabled />
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="btnAddSingle">Thêm mới </button>
                    <table id="tablePopupSingle"
                           data-id-field="undefined"
                           data-unique-id="undefined"
                           data-show-refresh="true"></table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnPopupSingle">Đóng</button>
                </div>
            </div><!-- /.modal-content  data-dismiss="modal" -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<script src="~/Scripts/Reservation/Validate.js"></script>
<script src="~/Scripts/Reservation/Bussiness.js"></script>
